.posts-List {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;

}

.post {
    
    width: 250px;
    height: 350px;
    margin: 5px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* border: 1px solid black; */
    box-sizing: border-box;
    box-shadow: -1px -1px 5px -1px;
    
  }

   body {
    justify-content: center;
   }

  .details-card {
    background-color: aliceblue;
  justify-content: center;
    width: 80vw;
    height: 70vh;
    margin: 5px;
    padding: 18px;
    justify-content: center;
    align-content: center;
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: -1px -1px 5px -1px;
    
  }

  .Link-Home {
    position: relative;
  right: 450px;
  width: 300px;
  /* border: 3px solid #73AD21; */
    
  }